<div>
    <div id="messages" role="log" aria-live="polite"></div>
    <input id="chat-input" type="text">
    <%= live_render(@conn, ChatWeb.ChatLive) %>
    <%= live_render(@conn, ChatWeb.SidebarLive) %>
</div>
