<div class="login-container">
  <.form for={@form} phx-submit="submit" id="setStorage" phx-hook="setStorage">
    <.label>Username</.label>
    <.input type="text" name={:username} field={@form[:username]} /> 
    <button>Join</button>
  </.form>
</div>