<.form for={@form} phx-submit="submit" id="redirectToChat" phx-hook="redirectToChat">
  <p>Username</p>
  <.input type="text" name={:username} field={@form[:username]} /> 
  <button>Submit</button>
</.form>
