<div id="getUsername" phx-hook="getUsername" class="main-container">
  <%= live_render @socket, ChatWeb.SidebarLive, id: "sidebar_#{@username}", container: {:div, class: "sidebar-container"}, session: %{"username"=> @username, "room"=> @room} %>
  <%= live_render @socket, ChatWeb.ChatRoomLive, id: "chatroom_#{@username}_#{@room}", container: {:div, class: "chat-room-container"}, session: %{"username"=> @username, "room"=> @room} %>
</div>